<fieldset>
    <legend>Proposals</legend>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Conference</th>
            <th>Author</th>
            <th>Proposal</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="proposal in proposals">
            <td> {{proposal.dtCreat | fromNow}}</td>
            <td> {{proposal.conf}}</td>
            <td> {{proposal.author}}
                <popover id='{{proposal.author}}' title='{{proposal.author}}' content='{{proposal.bio}}'></popover>
            </td>
            <td>{{proposal.title}}</td>
        </tr>
        </tbody>
    </table>

    <pre>{{proposals |json}}</pre>
</fieldset>
