<form class="form-horizontal" name="formStep2">
    <fieldset>
        <div id="legend">
            <legend class="">Step 2 - Proposal</legend>
        </div>
        <div class="control-group" ng-class="{error: formStep2.title.$invalid}">
            <label for="title">Title</label>
            <input type="text" class="input-xxlarge" id="title" name="title" ng-model="proposal.title" required>
            <span ng-show="formStep2.title.$error.required" class="help-inline"> Required</span>
        </div>
        <div class="control-group" ng-class="{error: formStep2.text.$invalid}">
            <label for="text">Summary</label>
            <textarea ui-tinymce ng-model="proposal.text" id="text" style="width: 100%;"></textarea>
            <span ng-show="formStep2.text.$error.required" class="help-inline"> Required</span>
        </div>
        <br/>

        <div class="form-actions">
            <button class="btn btn-inverse" ng-click="back()">Back</button>
            <button class="btn btn-primary" ng-click="next()" ng-disabled="isClean() || formStep2.$invalid">Next
            </button>
        </div>
    </fieldset>
</form>
